# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Virtual environments
venv/
env/
ENV/
*.venv
pip-selfcheck.json

# Logs and databases
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

.ipynb_checkpoints/
